<script>
    $(document).ready(function () {
    });
</script>

<div class="container col-xs-3">
    {{ form_start (form,{'action':'','method':'POST'}) }}
    {{ form_end (form) }}
</div>
<div class="clearfix"></div>