{% extends "base.html.twig" %}
{% block titulo %} CARGA FICHERO PLANO DE ENCARGOS {% endblock %}

{% block contenido %}
    <script>
        $(document).ready(function () {
            $("#importar_Guardar").click(function () {
                $("#procesando").modal('show');
                let recurso;
                recurso = Routing.generate("cargaFichero", true);
                $.ajax({
                    type: "POST",
                    url: recurso,
                    success: function (data, status, xhr) {
                        $('.modal-backdrop').remove();
                        $('#procesando').hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('#procesando').hide();
                        alert(xhr.status);
                    }
                });
            });
        });
    </script> 

    <div class="container">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}
        <br/>
        {{form_start (form,{'action':'','method':'POST'})}}
        {{form_end (form)}}
        <br/>
    </div>
{% endblock %}