{% extends "base.html.twig" %}
{% block title %} CONSULTA CARGAS FICHERO {% endblock %}

{% block titulo %}
    <div id='dtitulo' class="container">
        CARGA DE FICHEROS PLANOS **CONSULTA**
    </div>
{% endblock %} 

{% block contenido %}
    <div class="container">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            <hr/>
        {% endfor %}
        {% if datatable %}
            {{ sg_datatables_render(datatable) }}
        {% endif %}
    </div>
{% endblock %}
