    <div class="btn-group">
        <button type="button" 
                class="btn btn-default btn-danger"
                onclick="cerrarSesion()"
                data-toggle="tooltip" 
                data-placement="bottom" 
                title="Cerrar Sesión">Cerrar
            <span class="glyphicon glyphicon-off"></span>
        </button>
    </div>