<div id="procesando" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body" text-align="center">
                <img src="{{ asset('img/Circulo-Carga-62157.gif') }}"/>
                <h3><span>Ejecutando, espere por favor</span></h3>
            </div>
        </div>
    </div>
</div>
