{% extends "base.html.twig" %}
{% block titulo %} CERTIFICACIONES DE SERVICIO  **{{ accion }}**
    <a href="{{ path("queryCertificadoServicios") }}" class="btn btn-success">Volver</a>
{% endblock %}
{% block contenido %}
    <script>
        $(document).ready(function () {

            $("#formCertificadoServicios_eliminarCertificado").click(function () {
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("deleteCertificadoServicios", {"id": id}, true);
                window.location = recurso;
            });

            $("#formCertificadoServicios_generarCertificado").click(function () {
                $("#procesando").show();
                let recurso;
                recurso = Routing.generate("addCertificadoServicios", true);
                window.location = recurso;
            });

            $("#formCertificadoServicios_queryEncargos").click(function () {
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("queryEncargos", {"id": id}, true);
                window.location = recurso;
            });

            $("#formCertificadoServicios_generarImportes").click(function () {
                $("#procesando").show();
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("generarImportes", {"id": id}, true);
                window.location = recurso;
            });

            $("#formCertificadoServicios_incluirEncargo").click(function () {
                $("#procesando").show();
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("incluirEncargo", {"id": id}, true);
                window.location = recurso;
            });

            $("#formCertificadoServicios_imprimirCertificado").click(function () {
                $("#procesando").show();
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("imprimirCertificadoServicios", {"id": id}, true);
                window.location = recurso;
            });
            $("#formCertificadoServicios_imprimirCertificadoActividad").click(function () {
                $("#procesando").show();
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("certificadoActividad", {"id": id}, true);
                window.location = recurso;
            });
            $("#formCertificadoServicios_penalizaciones").click(function () {
                $("#procesando").show();
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("penalizaciones", {"id": id}, true);
                window.location = recurso;
            });

            $("#formCertificadoServicios_penalizacionesDetalle").click(function () {
                $("#procesando").show();
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("penalizacionesDetalle", {"id": id}, true);
                window.location = recurso;
            });
            $("#formCertificadoServicios_revisionPenalizaciones").click(function () {
                $("#procesando").show();
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("revisionPenalizaciones", {"id": id}, true);
                window.location = recurso;
            });

            $("#formCertificadoServicios_cerrarCertificado").click(function () {
                $("#procesando").show();
                let recurso;
                let id;
                id = $("#formCertificadoServicios_id").val();
                recurso = Routing.generate("cerrarCertificado", {"id": id}, true);
                window.location = recurso;
            });


        });
    </script>

    {% for message in app.session.flashbag().get('status') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        <hr/>
    {% endfor %}

    {% include 'certificadoServicios/form.html.twig' %}
{% endblock %}