{% extends "base.html.twig" %}
{% block title %} CONSULTA CERTIFICADO SERVICIOS {% endblock %}

{% block titulo %} 
    <div id='dtitulo' class="container"> CERTIFICACIONES DE SERVICIO **CONSULTA**
    <a href="{{path("addCertificadoServicios")}}"
       class="btn btn-success">
        <span class="glyphicon glyphicon-new-window"></span> Generar Certificado </a>
    <hr/>
    </div>
{% endblock %} 

{% block contenido %}
    <div class="container">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{message}}
            </div>
            <hr/>
        {% endfor %}
        {{ sg_datatables_render(datatable) }}
    </div>
{% endblock %}
