{% extends "base.html.twig" %}
{% block titulo %} 
    <div id='dtitulo' class="container"> PROYECTOS **CONSULTA**
    <a href="{{path("addProyecto")}}"
       class="btn btn-success">
        <span class="glyphicon glyphicon-new-window"></span> Nuevo Proyecto</a>
    <hr/>
    </div>
{% endblock %} 

{% block contenido %}
    <div class="container-fluid">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{message}}
            </div>
            <hr/>
        {% endfor %}
        {{ sg_datatables_render(datatable) }}
    </div>
{% endblock %}
