{% extends "base.html.twig" %}
{% block contenido %}
    <div class="container jumbotron text-center">
        <h2><span>Usuario bloqueado consulte con el administrador del sistema</span></h2>
        <br/>
        <a href="{{path("logout")}}" class="btn btn-danger" >Salir</a></li>
    </div>  
{% endblock %}
