{% extends "base.html.twig" %}
{% block titulo %} USUARIOS **CONSULTA**
    <a href="{{path("addUsuario")}}" 
       class="btn btn-success"
       target="_blank">
        <span class="glyphicon glyphicon-new-window"></span> Nuevo Usuario</a>
    <hr/>
{% endblock %} 

{% block contenido %}
    <div class="container">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{message}}
            </div>
            <hr/>
        {% endfor %}
        {{ sg_datatables_render(datatable) }}
    </div>
{% endblock %}