{% extends "base.html.twig" %}
{% block titulo %} GESTIÓN DE USUARIOS-MODIFICACIÓN 
   <a href="{{path("queryUsuario")}}" class="btn btn-success">Volver</a>
{% endblock %}
    
{% block contenido %}
    <div class="container">
        {{form_start (form,{'action':'','method':'POST'})}}
        {{form_end (form)}}
    </div>
    <div class="clearfix"> </div>
{% endblock %}