{% extends "base.html.twig" %}
{% block titulo %} CONTRATOS **{{accion}}**
    <a href="{{path("queryContrato")}}" class="btn btn-success"> Consulta Contratos </a>
{% endblock %}
{% block contenido %}
    {% include 'contrato/form.html.twig' %}
{% endblock %}