{% extends "base.html.twig" %}
{% block titulo %} Importes Contrato por Anualidades **{{accion}}**
    <a href="{{path("editContrato",{'id':contrato.id})}}" class="btn btn-success"> Volver </a>

{% endblock %}
{% block contenido %}
    {% include 'contrato/formImporte.html.twig' %}
{% endblock %}