{% extends "base.html.twig" %}
{% block title %} ENCARGO:
    {% if accion == "MODIFICACIÓN" %}
        {{ encargo.numero }}
    {% else %}
        NUEVO
    {% endif %}
{% endblock %}
{% block titulo %} ENCARGOS **{{ accion }}**
    <a href="{{ path("queryEncargo") }}" class="btn btn-success"> Consulta Encargos </a>
{% endblock %}
{% block contenido %}
    {% for message in app.session.flashbag().get('status') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        <hr/>
    {% endfor %}
    {% include 'encargo/form.html.twig' %}
{% endblock %}