{% extends "base.html.twig" %}
{% block titulo %} ENCARGOS **{{accion}}**
    <a href="{{path("queryEncargo")}}" class="btn btn-success"> Consulta Encargos </a>
{% endblock %}
{% block contenido %}
    {% include 'encargo/form.html.twig' %}
{% endblock %}